@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");

:root {
  --purple: rgb(103, 46, 227)
}
#root {
  max-width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(239, 238, 245);
  display: flex;
  justify-content: center;
  overflow-x: visible;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10rem;
  max-width: 100%;
  width: 1000px;
}

.App ul {
  list-style: none;
}

.App h3 {
  text-align: center;
}

/* button {
  background-color: rgb(103,46,227) !important;
} */


button {
  color: rgb(103,46,227) !important;
  background: transparent !important;
  border: none !important;
}

button:hover {
  color: rgb(142, 107, 202) !important;
}

button:focus {
  outline: none !important;
}

button:disabled {
  background-color: #ccc !important;
}